/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*==================================================================================*/

html {
    font-family: 'Roboto', sans-serif;
}

body {
    display: grid;
    grid-template: auto 4fr/1fr 4fr;

}

.svg-icons {
    filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(279deg) brightness(104%) contrast(100%);
}

/*==================================================================================*/
/* SIDEBAR  */
.sidebar {
    grid-area: 1/1/end/2;

    background-color: #1992d4;

}

.logo-text,
.sidebar-text {
    color: white;
}

.sidebar-container>button {
    background-color: #1992d4;
    border: none;
}

/*==================================================================================*/
/* HEADER */
.header {
    grid-area: 1/2/2/3;

    display: grid;
    grid-template: 3fr 2fr/ 3fr 1fr;

}

.methods {
    color: white;
    background-color: #1992d4;
    border: none;
}

/*==================================================================================*/
/* MAIN-CONTENT */
.main-content {
    grid-area: 2/2/end/3;

    display: grid;
    grid-template: auto/4fr 1fr;
    background-color: #e2e8f0;
}

.your-projects {
    grid-area: 1/1/end/2;

    display: grid;
    grid-template: 1fr repeat(3, 2fr)/1fr 1fr;
}

.subtitle-container-1 {
    grid-area: 1/1/2/3;
}

.project-card {
    box-shadow: -10px 0px #f0b429;
    background-color: white;
}

.announcements {
    grid-area: 1/2/2/3;
}

.subtitle-container-2 {}

.trending {
    grid-area: 2/2/end/3;
}

.subtitle-container-3 {}